#packages {
	padding: 60px 0px;
	font-family: Roboto;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.6);
}

#packages h1 {
	font-family: Roboto Condensed;
	font-size: 36px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.67);
	border-bottom: 1px solid rgba(0, 0, 0, 0.49);
	display: inline-block;
}

.carousel-multi-box {
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	margin: 10px;
}

.carousel-multi-box .carousel-img {
	position: relative;
}

.carousel-multi-box .carousel-img img {
	max-width: 100%;
	overflow: hidden;
	border-radius: 5px;
}

.carousel-multi-box .carousel-img .cntr-label {
	background: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	padding: 4px 10px;
	margin: 12px;
    position: absolute;
}

.carousel-multi-box .carousel-img .price-label {
	font-size: 18px;
	color: #262F56;
	background: rgba(255, 255, 255, 0.75);
	padding: 4px 10px;
	position: absolute;
    bottom: 0;
    right: 0;
}

.carousel-multi-box .carousel-desc {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
	padding: 20px;
}

.carousel-multi-box .carousel-desc .date-label{
	font-size: 14px;
	color: #DCA30E;
}

.carousel-multi-box .carousel-desc .date-label .anticon {
	margin-right: 15px;
}

.carousel-multi-box .carousel-desc h6 {
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	color: rgba(38, 47, 86, 0.9);
	margin: 15px 0px;
}