#destinations h1 {
	font-family: Roboto Condensed;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.63);
	border-bottom: 1px solid rgba(232, 169, 10, 0.58);
	padding-bottom: 15px;
}

#destinations h1 span {
	color: #E8A90A;
}

.lg-destination-item {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.5);
	font-family: Roboto Condensed;
}

.lg-destination-item-img {
	width: 207px;
	float: left;
	border-radius: 5px;
	overflow: hidden;
}

.lg-destination-item img {
	max-width: 100%;
}

.lg-destination-item-desc {
	float: left;
	width: calc(100% - 207px);
	height: 450px;
	padding: 20px;
	background: #FFFFFF;
}

.lg-destination-item-desc .cntr-text {
	background: #15E2B1;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 12px;
	padding: 3px 6px;
  position: absolute;
  margin-top: -20px;
}

.lg-destination-item-desc .date-text {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
	margin: 10px 0px;
  display: inline-block;
}


.lg-destination-item-desc h3 {
	font-weight: bold;
	font-size: 22px;
	color: #E8A90A;
}

.destination-item {
	border-radius: 5px;
}

.destination-item img {
	max-width: 100%;
    overflow: hidden;
}

.destination-item-overlay {
	background: rgba(0, 0, 0, 0.52);
  width: calc(100% - 24px);
  height: 100%;
  top: 0;
  display: block;
  position: absolute;
  border-radius: 5px;
}

.destination-item-desc {
	position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;    
}

.destination-item-desc span {
	display: block;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
}

.destination-item-desc a {
	display: inline-block;
	background: rgba(21, 226, 177, 0.6);
	border-radius: 3px;
	font-size: 12px;
	color: #FFFFFF;
	padding: 3px 6px;
	width: 64px;
	height: 23px;
	margin-top: 10px;
}

.desti-bottom-section h1 {
	font-family: Roboto Condensed;
	font-size: 48px;
	color: rgba(0, 0, 0, 0.65);
	border:  none !important;
}

.desti-bottom-section {
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
	padding: 80px 40px;
	margin-top: 40px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .lg-destination-item-img {
    width: 100%;
  }

  .lg-destination-item-desc {
  	width: 100%;
  }
}