.slider {
	width: 100%;
}

.carousel .slide .legend {
	background: transparent;
	bottom: 40%;
}

.carousel .slide .legend h2 {
	font-family: Roboto Slab;
	font-weight: 900;
	font-size: 48px;
	color: #FFFFFF;
}

.carousel .slide .legend span {
	display: inline-block;
	font-size: 48px;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.4);
	padding: 10px;
}

.search-section {
	background: #FFFFFF;
	border: 1px solid rgba(240, 173, 0, 0.4);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	margin-top: -80px !important;
	position: relative;
	padding: 30px;
}

.input-divider .ant-input-affix-wrapper, .input-divider .ant-picker {
	border-bottom: 1px solid rgba(240, 173, 0, 0.7) !important;
	padding: 4px 0px;
	height: 50px;
}

.search-section .ant-input, .search-section .ant-picker {
	border: none;
	outline: none;
}

.search-section .anticon {
	color: #F0B721;
}

.search-section .ant-input-affix-wrapper{
	border: none;
	outline: none;
}

.ant-input-affix-wrapper-focused,
.ant-picker:hover, .ant-picker-focused {
	outline: none;
	box-shadow: none;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
	border: none;
}

.search-section .ant-picker-input > input {
	padding-left: 30px;
}

.search-section .ant-picker-suffix {
	position: absolute;
	left: 0;
}

.search-section .ant-btn-primary span {
   font-family: Nunito;
	 font-size: 22px;
}

.search-section .ant-input::placeholder,
.search-section .ant-picker-input ::placeholder {
  color: rgba(240, 173, 0, 0.7);
}

.search-section .ant-input:-ms-input-placeholder,
.search-section .ant-picker-input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
 color: rgba(240, 173, 0, 0.7);;
}

.search-section .ant-input::-ms-input-placeholder,
.search-section .ant-picker-input::-ms-input-placeholder { /* Microsoft Edge */
 color: rgba(240, 173, 0, 0.7);;
}

.ant-input-prefix {
	margin-right: 15px !important;
}