#contactus .full-width-white {
	padding: 60px 0px;
}

#contactus h1 {
	font-size: 24px;
	text-transform: uppercase;
	color: rgba(26, 170, 251, 0.8);
	text-align: center;
	margin-bottom: 40px;
}

.contact-form .ant-input {
	height: 43px;
	background: rgba(196, 196, 196, 0.2);
	border: 0.5px solid rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	border-radius: 3px;
	padding: 4px 8px;
}

.contact-form .blue-btn span {
	font-family: Nunito;
	font-size: 18px;
}

