#tours {
	margin: 80px 0px;
}

.tour-item {
	font-family: Roboto Condensed;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.5);
	margin-top: 30px;
}

.tour-item h2 {
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	color: rgba(0, 0, 0, 0.44);
	margin-bottom: 10px;
}

.tour-item h2 span {
	background: #FFFFFF;
	color: #E0A60F;
	font-size: 30px;
	border: 0.5px solid rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
	position: absolute;
    padding: 5px;
    margin-top: -25px;
    left: 65px;
    font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
}

