.gallery-section {
	background: url(../../assets/images/gallery-bg.png);
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	width: 100vw;
  	min-height: 560px;
  	overflow: hidden;
  	font-family: Nunito;
	font-size: 24px;
	color: #FFFFFF;
	padding: 40px 0px;
}

.gallery-section h3 {
	font-weight: 800;
	font-size: 18px;
	color: #50BEFC;
	text-decoration: underline;
	padding-bottom: 5px;
}

.gallery-section h1 {
	font-family: Nunito;
	font-weight: bold;
	font-size: 43px;
	color: #FFFFFF;
}

.gallery-section .gallery-info {
	width: 50%;
	font-family: Nunito;
}

.gallery-section .gallery-info .blue-btn {
	width: 245px;
	height: 67px;
	border-radius: 10px;
	padding: 10px 25px !important;
	font-family: Nunito;
	font-size: 22px;
	display: inline-flex;
    align-items: center;
    justify-content: center;
}

.testimonial-section {
	padding: 80px 0px;
}

.testimonial-section h1 {
	font-family: Nunito;
	font-weight: bold;
	font-size: 28px;
	text-transform: uppercase;
	color: rgba(38, 47, 86, 0.56);
	text-align: center;
	margin-bottom: 40px;
}

.testimonial-section h1 .anticon {
	font-size: 20px !important;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;    
}

.testimonial-section .react-multi-carousel-list {
	padding-top: 60px;
}

.testimonial-box {
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	margin: 10px;
	font-family: Nunito;
	font-size: 10px;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
	padding: 20px;
}

.testimonial-box img {
	width: 58px;
	height: 53px;
	left: 375px;
	border-radius: 5px;
	margin-top: -50px;
	margin-bottom: 20px;
}

.testimonial-box-active {
	font-size: 14px;
	margin-top: -30px;
}

.testimonial-box-active img {
	width: 74px;
	height: 64px;
}

.testimonial-box .name-text{
	font-weight: bold;
	color: rgba(26, 170, 251, 0.6);
}

.testimonial-box .name-text .anticon {
	margin-right: 10px;
}

