.filter-section {
	background: #FFFFFF;
	border: 1px solid rgba(240, 173, 0, 0.4);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	margin: 40px 0px;
	position: relative;
	padding: 30px;
}

.filter-section .ant-input{
	height: 37px;
}

.list-box {
	width:  100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	margin: 10px 0px;
	padding: 15px;
}

.list-box h4 a {
	display: inline-block;
	float: right;
	font-style: italic;
	font-size: 12px;
}

.rating-text {
	color: rgba(240, 173, 0, 0.7);
	font-size: 12px;
}