@font-face {
  font-family: Nunito;
  src: url(./assets/fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: Roboto Slab;
  src: url(./assets/fonts/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: Roboto Condensed;
  src: url(./assets/fonts/RobotoCondensed-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

.App {
  background: #E5E5E5;
}

.container {
    width: 100%;
    max-width: 1040px;
    margin: auto;
}

.full-width-white {
  width: 100vw;
  background: #FFFFFF;
}

.header {
  background: #EBB320;  
  width: 100%;
  padding: 10px 0px;
  overflow: hidden;
}

.logo {
  float: left;
  width: 120px;
  margin-top: 8px;
}

a.logo-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #FFFFFF;
  margin: 0px;
  display: inline-block;
}

a.logo-text:hover {
  color: #FFFFFF;
}

.nav {
  float:  right;
}

.nav .nav-list {
  float: left;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  font-family: Nunito;
  cursor: pointer;
}


/* Button */
.ant-btn {
  height: auto;
}

.ant-btn-primary {
  display: inline-block;
  background: #F0AD00 !important;
  border-color: #F0AD00 !important;
  border-radius: 5px !important;
}

.full-btn {
  width: 100%;
  min-height: 50px;
}

.link-btn {
  display: inline-block;
  background: #B38307;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
}

.blue-btn {
  background: #1AAAFB !important;
  border: 1px solid #1AAAFB !important;
  color: #FFFFFF !important;
}

.primary-link {
  color: rgba(232, 169, 10, 0.81);
}

.normal-link {
  font-family: Roboto Condensed;
  font-size: 22px;
  color: rgba(38, 47, 86, 0.84);
}

.text-center {
  text-align: center;
}

.primary-text {
  color:  #E8A90A;
}

.divider {
  display: block;
}

.ant-radio-checked::after {
  border: 1px solid #F0AD00 !important;
}

.ant-radio-inner::after {
  background-color: #F0AD00 !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #F0AD00 !important;
}

/* Footer */
footer {
  background: #F0B721;
  padding: 60px 0px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 24px;
}

footer .logo-text {
  margin-bottom: 15px;
}

.foot-title {
  display: block;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
}

footer a {
  color: rgba(255, 255, 255, 0.9);
}

.back-to-top-link {
  position: fixed;
  pointer-events: all;
  display: inline-block;
  text-decoration: none;  
  background: rgba(255, 255, 255, 0.85);
  color: #F0AD00;
  float: right;
  padding: 4px 8px;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  display: inline-flex;
  height: 30px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}